/**
 * width: 200;
 * height: 200;
 */

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  position: relative;
}

/* temas */
.camp-digital {
  -moz-border-radius: 50%;
  -moz-box-shadow: 0 3px 3px rgba(0,0,0,0.20), rgba(0,0,0,0.12) 0px 0px 10px inset;
  -webkit-border-radius: 50%;
  -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.20), rgba(0,0,0,0.12) 0px 0px 10px inset;
  background-color: #FDFDFD;
  background-image: url('../img/camp-digital-simple.png');
  background-repeat: no-repeat;
  background-position: center bottom 30px;
  border-radius: 50%;
  border: 1px solid #FDFDFD;
}

  .camp-digital ul.numeros {
    border-radius: 50%;
    height: 100%;
    list-style: none  outside none;
    position: relative;
    width: 100%;
    margin-top: 15px;
    margin-left: 15px;
  }

    .camp-digital ul.numeros li[data-hora] {
      border-radius: 50%;
      background: grey;
      height: 6px;
      margin-left: -3px;
      margin-top: -3px;
      position: absolute;
      width: 6px;
    }

    .camp-digital ul.numeros li[data-min] {
      border-radius: 50%;
      background: red;
      height: 2px;
      margin-left: -1px;
      margin-top: -1px;
      position: absolute;
      width: 2px;
    }